<a href="https://colab.research.google.com/github/cuongcodeF4/Artificial-Intelligence/blob/main/AI_W2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value 1 = input("Nhập vào số thứ nhất:")

SyntaxError: ignored

In [ ]:
value1 = input("Nhập vào số thứ nhất:")
value2 = input("Nhập vào số thứ hai:")

Nhập vào số thứ nhất:2
Nhập vào số thứ hai:3

In [ ]:
print(value1)

2

In [ ]:
value1 = int(input("Nhập vào số thứ nhất:"))
value2 = int(input("Nhập vào số thứ hai:"))
print(value1 +value2)

Nhập vào số thứ nhất:5
Nhập vào số thứ hai:6
11

In [ ]:
with open('test.txt', mode='w') as accounts :
  accounts.write('20146482 Thái Việt Cường 10\n') 
  accounts.write('20146480 Trần Hữu Chính 11\n')
  accounts.write('20146480 Huynh Trong Tri 12\n')

In [ ]:
with open('test1.txt', mode='w') as accounts :
  print("20146482 Thai Viet Cuong", file= accounts)

In [8]:
with open("test.txt", mode='r') as accounts:
  accounts.read()

In [9]:
with open("test.txt", mode='r') as accounts:
  print(f"{'MSSV':<10}{'Name': <20}{'Score':>2}")
  for record in accounts:
    mssv,name,score = record.split()
    print(f"{mssv:<10}{name<20}{score:>2}")

MSSV      Name                Score

ValueError: ignored

In [10]:
import pandas as pd
url = 'Danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

                    No;MSSV;Họ và tên ;Khoa;Điểm
0           1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1              2;19146402;Nguyễn Văn B;Kinh Tế;4
2      3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3            4;20146404;Nguyễn Văn D;Xây dựng ;5
4   5;18146405;Dương Dương Quá;Cơ khí động lực;5
5          6;19146406;Lý Tiểu Long ;Cơ khí CTM;8
6            7;20146407;Trương Vô Kỵ;Xây dựng ;4
7                    8;20146408;Cô Cô;Kinh Tế;10
8           9;20146409;Chúc Anh Đài;Cơ khí CTM;7
9           10;15146410;Lương Sơn Bá;Xây dựng ;9
10  11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
11          12;20146412;Ủy Thiên Kiếm;Kinh Tế;10
12     13;20146413;Bao Thanh Thiên ;Cơ khí CTM;7
13           14;20146414;Triển Chiêu;Xây dựng ;9
14            15;20146415;Lý Tiểu Bảo ;Kinh Tế;8
15   16;16146416;Hoàn Hoa Thám;Cơ khí động lực;7
16       17;19146417;Công Tôn Sách;Cơ khí CTM;10
17                 18;21146418;Lữ Bố;Xây dựng ;8
18             19;14146419;Điêu Thuyền;Kinh Tế;9
19         20;22146420;Quan Vũ;Cơ khí động lực;7

In [11]:
import pandas as pd
url = 'Data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

                    No;MSSV;Họ và tên ;Khoa;Điểm
0           1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1              2;19146402;Nguyễn Văn B;Kinh Tế;4
2      3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3            4;20146404;Nguyễn Văn D;Xây dựng ;5
4   5;18146405;Dương Dương Quá;Cơ khí động lực;5
5          6;19146406;Lý Tiểu Long ;Cơ khí CTM;8
6            7;20146407;Trương Vô Kỵ;Xây dựng ;4
7                    8;20146408;Cô Cô;Kinh Tế;10
8           9;20146409;Chúc Anh Đài;Cơ khí CTM;7
9           10;15146410;Lương Sơn Bá;Xây dựng ;9
10  11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
11          12;20146412;Ủy Thiên Kiếm;Kinh Tế;10
12     13;20146413;Bao Thanh Thiên ;Cơ khí CTM;7
13           14;20146414;Triển Chiêu;Xây dựng ;9
14            15;20146415;Lý Tiểu Bảo ;Kinh Tế;8
15   16;16146416;Hoàn Hoa Thám;Cơ khí động lực;7
16       17;19146417;Công Tôn Sách;Cơ khí CTM;10
17                 18;21146418;Lữ Bố;Xây dựng ;8
18             19;14146419;Điêu Thuyền;Kinh Tế;9
19         20;22146420;Quan Vũ;Cơ khí động lực;7

In [12]:
import pandas as pd
url = 'Danhsach1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

                    No;MSSV;Họ và tên ;Khoa;Điểm
0           1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1              2;19146402;Nguyễn Văn B;Kinh Tế;4
2      3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3            4;20146404;Nguyễn Văn D;Xây dựng ;5
4   5;18146405;Dương Dương Quá;Cơ khí động lực;5
5          6;19146406;Lý Tiểu Long ;Cơ khí CTM;8
6            7;20146407;Trương Vô Kỵ;Xây dựng ;4
7                    8;20146408;Cô Cô;Kinh Tế;10
8           9;20146409;Chúc Anh Đài;Cơ khí CTM;7
9           10;15146410;Lương Sơn Bá;Xây dựng ;9
10  11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
11          12;20146412;Ủy Thiên Kiếm;Kinh Tế;10
12     13;20146413;Bao Thanh Thiên ;Cơ khí CTM;7
13           14;20146414;Triển Chiêu;Xây dựng ;9
14            15;20146415;Lý Tiểu Bảo ;Kinh Tế;8
15   16;16146416;Hoàn Hoa Thám;Cơ khí động lực;7
16       17;19146417;Công Tôn Sách;Cơ khí CTM;10
17                 18;21146418;Lữ Bố;Xây dựng ;8
18             19;14146419;Điêu Thuyền;Kinh Tế;9
19         20;22146420;Quan Vũ;Cơ khí động lực;7

In [13]:
import pandas as pd
url = 'Danhsach1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

                    No;MSSV;Họ và tên ;Khoa;Điểm
0           1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1              2;19146402;Nguyễn Văn B;Kinh Tế;4
2      3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3            4;20146404;Nguyễn Văn D;Xây dựng ;5
4   5;18146405;Dương Dương Quá;Cơ khí động lực;5
5          6;19146406;Lý Tiểu Long ;Cơ khí CTM;8
6            7;20146407;Trương Vô Kỵ;Xây dựng ;4
7                    8;20146408;Cô Cô;Kinh Tế;10
8           9;20146409;Chúc Anh Đài;Cơ khí CTM;7
9           10;15146410;Lương Sơn Bá;Xây dựng ;9
10  11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
11          12;20146412;Ủy Thiên Kiếm;Kinh Tế;10
12     13;20146413;Bao Thanh Thiên ;Cơ khí CTM;7
13           14;20146414;Triển Chiêu;Xây dựng ;9
14            15;20146415;Lý Tiểu Bảo ;Kinh Tế;8
15   16;16146416;Hoàn Hoa Thám;Cơ khí động lực;7
16       17;19146417;Công Tôn Sách;Cơ khí CTM;10
17                 18;21146418;Lữ Bố;Xây dựng ;8
18             19;14146419;Điêu Thuyền;Kinh Tế;9
19         20;22146420;Quan Vũ;Cơ khí động lực;7

In [14]:
import pandas as pd
url = 'Danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV          Họ và tên  Khoa   Điểm
0     1  20146209     Huỳnh Trọng Trí   CKM    10
1     2  20146210        Thái Trọng A   CKM     7
2     3  20146211        Trần Trọng B   CKD     8
3     4  20146212      Nguyễn Trọng C   CKD     9
4     5  20146213        Phan Trọng D   CKM    10
5     6  20146214          Võ Trọng E   CKD     4
6     7  20146215       Huỳnh Trọng F   CKM     8
7     8  20146216       Huỳnh Trọng G   CKD     6
8     9  20146217       Huỳnh Trọng H   CKM     5
9    10  19146209   Huỳnh Trọng Cường   CKD     9
10   11  18146209   Huỳnh Trọng Chính   CKM     9
11   12  17146209   Huỳnh Trọng Thắng   CKM     8
12   13  16146209  Huỳnh Trọng Chương   CKM     4
13   14  15146209   Huỳnh Trọng Khanh   CKM     5
14   15  14146209    Huỳnh Trọng Phúc   CKM     2
15   16  13146209    Huỳnh Trọng Ngọc   CKD     7
16   17  12146209   Huỳnh Trọng Quyên   CKD     9
17   18  11146209     Huỳnh Trọng Đạt   CKD    10
18   19  10146209     Huỳnh Trọng Phi   CKM     4
19   20  21146209   Huỳnh Trọng Nghĩa   CKM     8

In [15]:
import pandas as pd
url = 'Danhsach1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

                    No;MSSV;Họ và tên ;Khoa;Điểm
0           1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1              2;19146402;Nguyễn Văn B;Kinh Tế;4
2      3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3            4;20146404;Nguyễn Văn D;Xây dựng ;5
4   5;18146405;Dương Dương Quá;Cơ khí động lực;5
5          6;19146406;Lý Tiểu Long ;Cơ khí CTM;8
6            7;20146407;Trương Vô Kỵ;Xây dựng ;4
7                    8;20146408;Cô Cô;Kinh Tế;10
8           9;20146409;Chúc Anh Đài;Cơ khí CTM;7
9           10;15146410;Lương Sơn Bá;Xây dựng ;9
10  11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
11          12;20146412;Ủy Thiên Kiếm;Kinh Tế;10
12     13;20146413;Bao Thanh Thiên ;Cơ khí CTM;7
13           14;20146414;Triển Chiêu;Xây dựng ;9
14            15;20146415;Lý Tiểu Bảo ;Kinh Tế;8
15   16;16146416;Hoàn Hoa Thám;Cơ khí động lực;7
16       17;19146417;Công Tôn Sách;Cơ khí CTM;10
17                 18;21146418;Lữ Bố;Xây dựng ;8
18             19;14146419;Điêu Thuyền;Kinh Tế;9
19         20;22146420;Quan Vũ;Cơ khí động lực;7

In [16]:
import pandas as pd
url = 'Danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV          Họ và tên  Khoa   Điểm
0     1  20146209     Huỳnh Trọng Trí   CKM    10
1     2  20146210        Thái Trọng A   CKM     7
2     3  20146211        Trần Trọng B   CKD     8
3     4  20146212      Nguyễn Trọng C   CKD     9
4     5  20146213        Phan Trọng D   CKM    10
5     6  20146214          Võ Trọng E   CKD     4
6     7  20146215       Huỳnh Trọng F   CKM     8
7     8  20146216       Huỳnh Trọng G   CKD     6
8     9  20146217       Huỳnh Trọng H   CKM     5
9    10  19146209   Huỳnh Trọng Cường   CKD     9
10   11  18146209   Huỳnh Trọng Chính   CKM     9
11   12  17146209   Huỳnh Trọng Thắng   CKM     8
12   13  16146209  Huỳnh Trọng Chương   CKM     4
13   14  15146209   Huỳnh Trọng Khanh   CKM     5
14   15  14146209    Huỳnh Trọng Phúc   CKM     2
15   16  13146209    Huỳnh Trọng Ngọc   CKD     7
16   17  12146209   Huỳnh Trọng Quyên   CKD     9
17   18  11146209     Huỳnh Trọng Đạt   CKD    10
18   19  10146209     Huỳnh Trọng Phi   CKM     4
19   20  21146209   Huỳnh Trọng Nghĩa   CKM     8

In [17]:
dataframe.iloc[2]

STT                      3
MSSV              20146211
Họ và tên     Trần Trọng B
Khoa                   CKD
Điểm                     8
Name: 2, dtype: object

In [18]:
import pandas as pd
url = 'Danhsach1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

                    No;MSSV;Họ và tên ;Khoa;Điểm
0           1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1              2;19146402;Nguyễn Văn B;Kinh Tế;4
2      3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3            4;20146404;Nguyễn Văn D;Xây dựng ;5
4   5;18146405;Dương Dương Quá;Cơ khí động lực;5
5          6;19146406;Lý Tiểu Long ;Cơ khí CTM;8
6            7;20146407;Trương Vô Kỵ;Xây dựng ;4
7                    8;20146408;Cô Cô;Kinh Tế;10
8           9;20146409;Chúc Anh Đài;Cơ khí CTM;7
9           10;15146410;Lương Sơn Bá;Xây dựng ;9
10  11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
11          12;20146412;Ủy Thiên Kiếm;Kinh Tế;10
12     13;20146413;Bao Thanh Thiên ;Cơ khí CTM;7
13           14;20146414;Triển Chiêu;Xây dựng ;9
14            15;20146415;Lý Tiểu Bảo ;Kinh Tế;8
15   16;16146416;Hoàn Hoa Thám;Cơ khí động lực;7
16       17;19146417;Công Tôn Sách;Cơ khí CTM;10
17                 18;21146418;Lữ Bố;Xây dựng ;8
18             19;14146419;Điêu Thuyền;Kinh Tế;9
19         20;22146420;Quan Vũ;Cơ khí động lực;7

In [19]:
dataframe.iloc[0:4]

                No;MSSV;Họ và tên ;Khoa;Điểm
0       1;17146401;Nguyễn Văn A;Cơ khí CTM;8
1          2;19146402;Nguyễn Văn B;Kinh Tế;4
2  3;20146403;Nguyễn Văn C;Cơ khí động lực;9
3        4;20146404;Nguyễn Văn D;Xây dựng ;5

In [20]:
dataframe.iloc[10]

No;MSSV;Họ và tên ;Khoa;Điểm    11;20146411;Độc Cô Cầu Bại;Cơ khí động lực;8
Name: 10, dtype: object

In [21]:
import pandas as pd
url = 'Danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV          Họ và tên  Khoa   Điểm
0     1  20146209     Huỳnh Trọng Trí   CKM    10
1     2  20146210        Thái Trọng A   CKM     7
2     3  20146211        Trần Trọng B   CKD     8
3     4  20146212      Nguyễn Trọng C   CKD     9
4     5  20146213        Phan Trọng D   CKM    10
5     6  20146214          Võ Trọng E   CKD     4
6     7  20146215       Huỳnh Trọng F   CKM     8
7     8  20146216       Huỳnh Trọng G   CKD     6
8     9  20146217       Huỳnh Trọng H   CKM     5
9    10  19146209   Huỳnh Trọng Cường   CKD     9
10   11  18146209   Huỳnh Trọng Chính   CKM     9
11   12  17146209   Huỳnh Trọng Thắng   CKM     8
12   13  16146209  Huỳnh Trọng Chương   CKM     4
13   14  15146209   Huỳnh Trọng Khanh   CKM     5
14   15  14146209    Huỳnh Trọng Phúc   CKM     2
15   16  13146209    Huỳnh Trọng Ngọc   CKD     7
16   17  12146209   Huỳnh Trọng Quyên   CKD     9
17   18  11146209     Huỳnh Trọng Đạt   CKD    10
18   19  10146209     Huỳnh Trọng Phi   CKM     4
19   20  21146209   Huỳnh Trọng Nghĩa   CKM     8

In [22]:
dataframe.iloc[:4]

   STT      MSSV       Họ và tên  Khoa   Điểm
0    1  20146209  Huỳnh Trọng Trí   CKM    10
1    2  20146210     Thái Trọng A   CKM     7
2    3  20146211     Trần Trọng B   CKD     8
3    4  20146212   Nguyễn Trọng C   CKD     9

In [23]:
dataframe= dataframe.set_index(dataframe['Họ và tên'])
dataframe.loc['Huỳnh Trọng Phi']

KeyError: ignored

In [24]:
dataframe= dataframe.set_index(dataframe['Họ và tên'])
dataframe.loc['Huỳnh Trọng Trí']

KeyError: ignored

In [25]:
dataframe= dataframe.set_index(dataframe['Họ và tên '])
dataframe.loc['Huỳnh Trọng Phi']

STT                        19
MSSV                 10146209
Họ và tên     Huỳnh Trọng Phi
Khoa                      CKM
Điểm                        4
Name: Huỳnh Trọng Phi, dtype: object

In [26]:
dataframe[dataframe['Điểm '] =='8 '].head(10)

KeyError: ignored

In [27]:
dataframe[dataframe['Điểm'] =='8 '].head(10)

Empty DataFrame
Columns: [STT, MSSV, Họ và tên , Khoa , Điểm]
Index: []

In [47]:
dataframe[dataframe['Điểm'] ==8].head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F   CKM     8
Huỳnh Trọng Thắng   12  17146209  Huỳnh Trọng Thắng   CKM     8
Huỳnh Trọng Nghĩa   20  21146209  Huỳnh Trọng Nghĩa   CKM     8

In [46]:
dataframe[dataframe['Họ và tên '] =='Huỳnh Trọng Trí'].head(20)

                 STT      MSSV       Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí    1  20146209  Huỳnh Trọng Trí   CKM    10

In [48]:
dataframe[(dataframe['Họ và tên '] =='Huỳnh Trọng Trí' & (dataframe['Khoa ']=='CKM')]

SyntaxError: ignored

In [49]:
dataframe[(dataframe['Họ và tên '] =='Huỳnh Trọng Trí') & (dataframe['Khoa ']=='CKM')]

                 STT      MSSV       Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí    1  20146209  Huỳnh Trọng Trí   CKM    10

In [50]:
dataframe['Khoa '].replace('CKM','Cơ khí máy').head(10)

Họ và tên
Huỳnh Trọng Trí      Cơ khí máy
Thái Trọng A         Cơ khí máy
Trần Trọng B                CKD
Nguyễn Trọng C              CKD
Phan Trọng D         Cơ khí máy
Võ Trọng E                  CKD
Huỳnh Trọng F        Cơ khí máy
Huỳnh Trọng G               CKD
Huỳnh Trọng H        Cơ khí máy
Huỳnh Trọng Cường           CKD
Name: Khoa , dtype: object

In [51]:
dataframe.replace('CKM','Cơ khí máy').head(10)

                   STT      MSSV         Họ và tên        Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    Huỳnh Trọng Trí  Cơ khí máy    10
Thái Trọng A         2  20146210       Thái Trọng A  Cơ khí máy     7
Trần Trọng B         3  20146211       Trần Trọng B         CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C         CKD     9
Phan Trọng D         5  20146213       Phan Trọng D  Cơ khí máy    10
Võ Trọng E           6  20146214         Võ Trọng E         CKD     4
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F  Cơ khí máy     8
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G         CKD     6
Huỳnh Trọng H        9  20146217      Huỳnh Trọng H  Cơ khí máy     5
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường         CKD     9

In [52]:
print('Điểm cao nhất:',dataframe['Điểm'].max())

Điểm cao nhất: 10

In [53]:
print('Điểm cao nhất:',dataframe['Điểm'].min())

Điểm cao nhất: 2

In [54]:
print('Điểm trung bình:',dataframe['Điểm'].mean())

Điểm trung bình: 7.1

In [55]:
print('Điểm tổngtổng:',dataframe['Điểm'].sum())

Điểm tổngtổng: 142

In [56]:
print('Số lượnglượng:',dataframe['Điểm'].count())

Số lượnglượng: 20

In [57]:
print('Người lớn nhất:',dataframe['MSSV'].min())

Người lớn nhất: 10146209

In [58]:
dataframe['Khoa '].unique()

array(['CKM', 'CKD'], dtype=object)

In [59]:
from pandas.core.base import value_counts
dataframe['Khoa '].value_counts()

CKM    12
CKD     8
Name: Khoa , dtype: int64

In [60]:
dataframe['Khoa '].value_counts()

CKM    12
CKD     8
Name: Khoa , dtype: int64

In [61]:
dataframe.drop('MSSV',axis=1).head(10)

                   STT         Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1    Huỳnh Trọng Trí   CKM    10
Thái Trọng A         2       Thái Trọng A   CKM     7
Trần Trọng B         3       Trần Trọng B   CKD     8
Nguyễn Trọng C       4     Nguyễn Trọng C   CKD     9
Phan Trọng D         5       Phan Trọng D   CKM    10
Võ Trọng E           6         Võ Trọng E   CKD     4
Huỳnh Trọng F        7      Huỳnh Trọng F   CKM     8
Huỳnh Trọng G        8      Huỳnh Trọng G   CKD     6
Huỳnh Trọng H        9      Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường   10  Huỳnh Trọng Cường   CKD     9

In [62]:
dataframe.drop('MSSV',axis=1)

                    STT          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2        Thái Trọng A   CKM     7
Trần Trọng B          3        Trần Trọng B   CKD     8
Nguyễn Trọng C        4      Nguyễn Trọng C   CKD     9
Phan Trọng D          5        Phan Trọng D   CKM    10
Võ Trọng E            6          Võ Trọng E   CKD     4
Huỳnh Trọng F         7       Huỳnh Trọng F   CKM     8
Huỳnh Trọng G         8       Huỳnh Trọng G   CKD     6
Huỳnh Trọng H         9       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường    10   Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Chính    11   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Thắng    12   Huỳnh Trọng Thắng   CKM     8
Huỳnh Trọng Chương   13  Huỳnh Trọng Chương   CKM     4
Huỳnh Trọng Khanh    14   Huỳnh Trọng Khanh   CKM     5
Huỳnh Trọng Phúc     15    Huỳnh Trọng Phúc   CKM     2
Huỳnh Trọng Ngọc     16    Huỳnh Trọng Ngọc   CKD     7
Huỳnh Trọng Quyên    17   Huỳnh Trọng Quyên   CKD     9
Huỳnh Trọng Đạt      18     Huỳnh Trọng Đạt   CKD    10
Huỳnh Trọng Phi      19     Huỳnh Trọng Phi   CKM     4
Huỳnh Trọng Nghĩa    20   Huỳnh Trọng Nghĩa   CKM     8

In [68]:
dataframe

                    STT      MSSV          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1  20146209     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2  20146210        Thái Trọng A   CKM     7
Trần Trọng B          3  20146211        Trần Trọng B   CKD     8
Nguyễn Trọng C        4  20146212      Nguyễn Trọng C   CKD     9
Phan Trọng D          5  20146213        Phan Trọng D   CKM    10
Võ Trọng E            6  20146214          Võ Trọng E   CKD     4
Huỳnh Trọng F         7  20146215       Huỳnh Trọng F   CKM     8
Huỳnh Trọng G         8  20146216       Huỳnh Trọng G   CKD     6
Huỳnh Trọng H         9  20146217       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường    10  19146209   Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Chính    11  18146209   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Thắng    12  17146209   Huỳnh Trọng Thắng   CKM     8
Huỳnh Trọng Chương   13  16146209  Huỳnh Trọng Chương   CKM     4
Huỳnh Trọng Khanh    14  15146209   Huỳnh Trọng Khanh   CKM     5
Huỳnh Trọng Phúc     15  14146209    Huỳnh Trọng Phúc   CKM     2
Huỳnh Trọng Ngọc     16  13146209    Huỳnh Trọng Ngọc   CKD     7
Huỳnh Trọng Quyên    17  12146209   Huỳnh Trọng Quyên   CKD     9
Huỳnh Trọng Đạt      18  11146209     Huỳnh Trọng Đạt   CKD    10
Huỳnh Trọng Phi      19  10146209     Huỳnh Trọng Phi   CKM     4
Huỳnh Trọng Nghĩa    20  21146209   Huỳnh Trọng Nghĩa   CKM     8

In [67]:
dataframe.drop(['MSSV','Khoa '],axis=1).head(10)

                   STT         Họ và tên   Điểm
Họ và tên
Huỳnh Trọng Trí      1    Huỳnh Trọng Trí    10
Thái Trọng A         2       Thái Trọng A     7
Trần Trọng B         3       Trần Trọng B     8
Nguyễn Trọng C       4     Nguyễn Trọng C     9
Phan Trọng D         5       Phan Trọng D    10
Võ Trọng E           6         Võ Trọng E     4
Huỳnh Trọng F        7      Huỳnh Trọng F     8
Huỳnh Trọng G        8      Huỳnh Trọng G     6
Huỳnh Trọng H        9      Huỳnh Trọng H     5
Huỳnh Trọng Cường   10  Huỳnh Trọng Cường     9

In [66]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

                   STT      MSSV  Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    10
Thái Trọng A         2  20146210     7
Trần Trọng B         3  20146211     8
Nguyễn Trọng C       4  20146212     9
Phan Trọng D         5  20146213    10
Võ Trọng E           6  20146214     4
Huỳnh Trọng F        7  20146215     8
Huỳnh Trọng G        8  20146216     6
Huỳnh Trọng H        9  20146217     5
Huỳnh Trọng Cường   10  19146209     9

In [69]:
dataframe.drop(dataframe.row[2:4],axis=1).head(10)

AttributeError: ignored

In [71]:
dataframe[dataframe['Khoa ']!='CKM'].head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C   CKD     9
Võ Trọng E           6  20146214         Võ Trọng E   CKD     4
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G   CKD     6
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Ngọc    16  13146209   Huỳnh Trọng Ngọc   CKD     7
Huỳnh Trọng Quyên   17  12146209  Huỳnh Trọng Quyên   CKD     9
Huỳnh Trọng Đạt     18  11146209    Huỳnh Trọng Đạt   CKD    10

In [72]:
dataframe[dataframe['Điểm']!=8].head(10)

                    STT      MSSV          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1  20146209     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2  20146210        Thái Trọng A   CKM     7
Nguyễn Trọng C        4  20146212      Nguyễn Trọng C   CKD     9
Phan Trọng D          5  20146213        Phan Trọng D   CKM    10
Võ Trọng E            6  20146214          Võ Trọng E   CKD     4
Huỳnh Trọng G         8  20146216       Huỳnh Trọng G   CKD     6
Huỳnh Trọng H         9  20146217       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường    10  19146209   Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Chính    11  18146209   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Chương   13  16146209  Huỳnh Trọng Chương   CKM     4

In [74]:
from tables import index
dataframe[dataframe.index !=5].head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    Huỳnh Trọng Trí   CKM    10
Thái Trọng A         2  20146210       Thái Trọng A   CKM     7
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C   CKD     9
Phan Trọng D         5  20146213       Phan Trọng D   CKM    10
Võ Trọng E           6  20146214         Võ Trọng E   CKD     4
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F   CKM     8
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G   CKD     6
Huỳnh Trọng H        9  20146217      Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường   CKD     9

In [75]:
dataframe.drop_duplicates().head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    Huỳnh Trọng Trí   CKM    10
Thái Trọng A         2  20146210       Thái Trọng A   CKM     7
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C   CKD     9
Phan Trọng D         5  20146213       Phan Trọng D   CKM    10
Võ Trọng E           6  20146214         Võ Trọng E   CKD     4
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F   CKM     8
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G   CKD     6
Huỳnh Trọng H        9  20146217      Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường   CKD     9

In [76]:
dataframe.groupby('Khoa ').count()

       STT  MSSV  Họ và tên   Điểm
Khoa
CKD      8     8           8     8
CKM     12    12          12    12

In [77]:
dataframe.groupby(['Khoa','Điểm']).count()

KeyError: ignored

In [78]:
dataframe.groupby(['Khoa ','Điểm']).count()

            STT  MSSV  Họ và tên
Khoa  Điểm
CKD   4       1     1           1
      6       1     1           1
      7       1     1           1
      8       1     1           1
      9       3     3           3
      10      1     1           1
CKM   2       1     1           1
      4       2     2           2
      5       2     2           2
      7       1     1           1
      8       3     3           3
      9       1     1           1
      10      2     2           2

In [80]:
dataframe.groupby('Khoa ')['Điểm'].count()

Khoa
CKD     8
CKM    12
Name: Điểm, dtype: int64

In [87]:
from pandas.io.formats.style_render import DataFrame
from pandas.core.resample import date_range
import pandas as pd 
import numpy as np 

time_index = pd.date_range('13/02/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount']= np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-02-19        101051
2023-02-26        100418
2023-03-05        100716
2023-03-12        100711
2023-03-19         97080

In [88]:
import pandas as pd 
import numpy as np 

time_index = pd.date_range('13/02/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount']= np.random.randint(1,10,100000)   
dataframe.resample('2W').sum()

            Acess_Amount
2023-02-19        101164
2023-03-05        201546
2023-03-19        197270

In [92]:
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [93]:
data.groupby(['NOC'== 'CAN','Medal']).count()

KeyError: ignored

In [95]:
data[(data['NOC'] =='CAN') & (data['Medal'].count())]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
54,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
92,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
93,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
94,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
2105,2006,Turin,Skating,Speed skating,CAN,Team pursuit,W,Silver
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2107,2006,Turin,Skiing,Cross Country S,CAN,Team sprint,W,Silver
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold
2109,2006,Turin,Skiing,Snowboard,CAN,Snowboard Cross,W,Bronze

In [100]:
datas=data[(data['NOC'] =='CAN')]
print("Số huy chương của CAN:",datas['Medal'].count())

Số huy chương của CAN: 119

In [99]:
data2= data[(data['Medal'] =='Gold') & (data['Event']== 'individual')
print("Số huy chương chương vàng theo môn cá nhân:",data2['Event'].count())

SyntaxError: ignored

In [105]:
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [109]:
data[(data['NOC'] =='CAN')& (data['Event'=='individual'])]

KeyError: ignored

In [110]:
dataframe[(dataframe['Họ và tên '] =='Huỳnh Trọng Trí') & (dataframe['Khoa ']=='CKM')]

KeyError: ignored

In [111]:
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [113]:
data1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
data1

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
62,1928,St. Moritz,Skating,Figure skating,NOR,individual,W,Gold
73,1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Gold
...,...,...,...,...,...,...,...,...
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold
2087,2006,Turin,Bobsleigh,Skeleton,CAN,individual,M,Gold
2190,2006,Turin,Skating,Figure skating,JPN,individual,W,Gold
2241,2006,Turin,Skating,Figure skating,RUS,individual,M,Gold
2258,2006,Turin,Bobsleigh,Skeleton,SUI,individual,W,Gold

In [114]:
data1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân:",data1['Event'].count())

Số huy chương chương vàng theo môn cá nhân: 65

In [115]:
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
datas=data[(data['NOC'] =='CAN')]
print("Số huy chương của CAN:",datas['Medal'].count())
data1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân:",data1['Event'].count())

Số huy chương của CAN: 119
Số huy chương chương vàng theo môn cá nhân: 65